<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="http://localhost:5000/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="patient" selected>Patient</option>
            <option value="doctor">Doctor</option>
        </select><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>